html,
body {
	/* color: white; */
	/* text-shadow: 0.1em 0.1em rgba(0, 0, 0, 0.459); */
	overflow: hidden;
	font-size: 24px;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	font-weight: bold;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
		sans-serif;
}

body main,
div,
input,
button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	gap: 0.5em;
}

p {
	margin-top: 0.1em;
	margin-bottom: 0.1em;
}

a {
	color: rgb(0, 100, 200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0, 80, 160);
}

label {
	display: block;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.2em;
	box-sizing: border-box;
	background: none;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background: none;
	outline: none;
	border-radius: 0.5em;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:hover {
	cursor: pointer;
	background-color: hsla(0, 0%, 0%, 0.1);
}

input[type="number"] {
	-moz-appearance: textfield;
	appearance: textfield;
	margin: 0;
}
.input-container {
	flex-wrap: wrap;
	gap: 2vh;
}
input[type="radio"] {
	height: 0.7em;
	flex-basis: 1em;
}

.input-container > * {
	flex: 1 1 auto;
}
.radio-items-container {
	display: flex;
	flex-direction: column;
}
.radio-item {
	display: flex;
	justify-content: flex-start;
}
.radio-item label {
	text-align: left;
}
.questionnaire {
	margin: auto;
	width: 50ch;
	display: flex;
	flex-direction: column;
	gap: 2vh;
	padding: 3vh;
}
.multiselect .remove-all {
	width: 2em;
	height: 2em;
}

.multiselect > .selected > li {
	height: 1.2em;
	word-wrap: normal;
}
.selected,
ul {
	padding: 0.2em;
}

.multiselect {
	margin: 0;
}

.questionnaire {
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	gap: 1.5em;
}

.card {
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	gap: 1.5em;
	
}
