<script lang="ts">
	import { fade } from "svelte/transition";
	import Clouds from "./pages/Clouds.svelte";
	import type PageComponent from "./types/PageComponent";
	import Questionnaire from "./pages/questions/PersonnalQs.svelte";
	import BreathingExercise from "./pages/BreathingExercise.svelte";
	import EoPreference from "./pages/questions/EOPreference.svelte";
	import { EssentialOils } from "./states/essentialOil";
	import Recommendations from "./pages/Recommendations.svelte";
	const pages = [
		Questionnaire,
		EoPreference,
		...EssentialOils.map(() => BreathingExercise),
		Recommendations,
	];
	const pageProps: any[] = [
		{},
		{},
		...EssentialOils.map((eo) => {
			return {
				activeEo: eo,
			};
		}),
		{},
	];

	console.debug(pages);

	let pageIndex = 0;
	let readyPageIndex = 0;
	let page = pages[pageIndex];
	let pageProp = pageProps[pageIndex];
	let currentPage: PageComponent;

	function renderNextPage() {
		page = pages[pageIndex];
		pageProp = pageProps[pageIndex] || {};
		readyPageIndex = pageIndex;
	}
	function next() {
		if (currentPage.canExit()) {
			pageIndex = (pageIndex + 1) % pages.length;
		}
	}
	function back() {
		pageIndex = (pageIndex - 1) % pages.length;
		if (pageIndex < 0) pageIndex += pages.length;
	}
</script>

<svelte:head>
	<title>Aromed</title>
</svelte:head>
<main>
	<div class="page-container" style="position: relative;">
		<div style="position: absolute;">
			<Clouds />
		</div>
		{#if pageIndex == readyPageIndex}
			<div
				style="display: flex; position: relative; "
				on:outroend={renderNextPage}
				transition:fade={{ duration: 200 }}
			>
				<svelte:component
					this={page}
					bind:this={currentPage}
					{...pageProp}
					on:finished={(e) => {
						console.debug("be finished");
					}}
				/>
			</div>
		{/if}
	</div>
	<div class="nav">
		<button on:click={back}> previous </button>
		<div style="flex-grow: 1;" />
		<button on:click={next}> next </button>
	</div>
</main>

<style>
	main {
		flex-direction: column;
	}
	.page-container {
		min-height: 0;

	}
	.nav > * {
		margin: 0.5em;
	}
	.nav {
		height: 3em;
		flex-shrink: 0;
	}
</style>
