<script lang="ts">
    let breathingCircle: SVGCircleElement;
    let texts = ["breath in", "breath out"];
    let i = 0;
    let x = texts[i % texts.length];
    let isOut = true;
    setInterval(() => {
        i++;
        x = texts[i % texts.length];
        isOut = !isOut;
    }, 8000 / 2);
</script>

<main>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2">
        <circle cx="1" cy="1" r="1" fill="rgb(203, 235, 255)" />
        <circle
            class:b-out={isOut}
            class:b-in={!isOut}
            bind:this={breathingCircle}
            cx="1"
            cy="1"
            r="1"
            fill="rgb(240, 249, 255)"
        />
        <text
            class:b-out={isOut}
            class:b-in={!isOut}
            x="50%"
            y="50%"
            fill="rgb(70, 150, 180)"
            font-size="0.3"
        >
            {x}</text
        >
    </svg>
</main>

<style>
    svg {
        height: 100%;
    }
    @keyframes foo {
        0%,
        to {
            transform-origin: center;
            transform: scale(0.5);
        }
        100% {
            transform: scale(1);
        }
    }
    @keyframes bar {
        0%,
        to {
            transform-origin: center;
            transform: scale(1);
        }
        100% {
            transform: scale(0.5);
        }
    }
    svg text {
        text-anchor: middle;
    }
    .b-out {
        animation: foo 4.5s forwards;
    }
    .b-in {
        animation: bar 4.5s forwards;
    }
</style>
