<script lang="ts">
    import type { EssentialOil } from "../states/essentialOil";

    import BreathingCircle from "./BreathingCircle.svelte";
    import Heartrate from "./Heartrate.svelte";
    export function canExit() {
        return true;
    }
    export let activeEo: EssentialOil | null;
</script>

<main>
    <div class="breathing-circle">
        <BreathingCircle />
    </div>
    <div class="relax-text">
        <h1>Relax</h1>
        <p>Come into a comfortable seated position.</p>
        <p>You can sit back on your heels or cross your legs.</p>
    </div>
    <div class="heart-rate">
        <Heartrate on:finished activeEO={activeEo} />
    </div>
</main>

<style>
    main,
    .relax-text {
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .breathing-circle {
        flex-grow: 1;
        flex-basis: 100%;
        display: block;
        max-height: 40%;
        max-width: 50vw;
        margin: auto;
    }

    .relax-text {
        flex-basis: content;
        text-align: center;
    }
    .heart-rate {
        flex-grow: 0;
        flex-basis: 20em;
    }
</style>
