<div class="background">
    <svg
        class="clouds cloud1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        version="1.1"
        x="0"
        y="0"
        width="20em"
        height="20em"
        viewBox="0 0 512 512"
        enable-background="new 0 0 512 512"
        xml:space="preserve"
    >
        <path
            id="cloud-icon"
            d="M406.1 227.63c-8.23-103.65-144.71-137.8-200.49-49.05 -36.18-20.46-82.33 3.61-85.22 45.9C80.73 229.34 50 263.12 50 304.1c0 44.32 35.93 80.25 80.25 80.25h251.51c44.32 0 80.25-35.93 80.25-80.25C462 268.28 438.52 237.94 406.1 227.63z"
        />
    </svg>
    <svg
        class="clouds cloud2"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        version="1.1"
        x="0"
        y="0"
        width="20em"
        height="20em"
        viewBox="0 0 512 512"
        enable-background="new 0 0 512 512"
        xml:space="preserve"
    >
        <path
            id="cloud-icon"
            d="M406.1 227.63c-8.23-103.65-144.71-137.8-200.49-49.05 -36.18-20.46-82.33 3.61-85.22 45.9C80.73 229.34 50 263.12 50 304.1c0 44.32 35.93 80.25 80.25 80.25h251.51c44.32 0 80.25-35.93 80.25-80.25C462 268.28 438.52 237.94 406.1 227.63z"
        />
    </svg>
</div>

<style>
    .background {
        width: 100%;
        height: 100%;
        position: relative;
        background: -webkit-linear-gradient(
            top,
            rgb(161, 219, 255) 0%,
            rgb(203, 235, 255) 43%,
            rgb(240, 249, 255) 80%,
            #fff 100%
        ); /* Chrome10+,Safari5.1+ */
        background-size: 100% 100%;
    }

    .clouds {
        width: 40vh;
        height: 40vh;
        position: absolute;
    }

    .cloud1 {
        top: 20vh;
        /* z-index: 1; */
        fill: #eee;
        /* Animation shorthand syntax order: name, duration, timing-function, delay, iteration-count, direction, fill-mode */
        -webkit-animation: move 20s linear infinite;
        -moz-animation: move 20s linear infinite;
        -o-animation: move 20s linear infinite;
        animation: move 20s linear infinite;
    }

    .cloud2 {
        top: 40vh;
        /* z-index: 1; */
        fill: #eee;
        -webkit-animation: move 35s linear 3s infinite backwards;
        -moz-animation: move 35s linear 3s infinite backwards;
        -o-animation: move 35s linear 3s infinite backwards;
        animation: move 35s linear 3s infinite backwards;
    }

    @keyframes move {
        from {
            -webkit-transform: translateX(-30vw);
        }
        to {
            -webkit-transform: translateX(120vw);
        }
    }
</style>
