<script lang="ts">
  import type { PlotlyHTMLElement } from "plotly.js";
  import { createEventDispatcher } from "svelte";
  import type { EssentialOil } from "../states/essentialOil.js";
  import { onDestroy } from "svelte";
  import {
    oximeterRawReadings,
    oximeterReadingNumbers,
    OximeterReading,
  } from "../states/oximeter.js";
  import { beResWritable } from "../states/beResult";

  export let timeSpan: number = 60;
  export let activeEO: EssentialOil | null = null;

  const dispatch = createEventDispatcher();

  let plotElemet: PlotlyHTMLElement | null = null;
  let initPlotData: Partial<Plotly.PlotData>[] = [
    {
      y: [],
      x: [],
      type: "scatter",
    },
  ];
  let lastRead = Date.now();
  let readings: OximeterReading | null = null;

  let loading = true;
  let readingAvailable = false;
  let checkReadingAvailableTimeout = null;

  function updateReadingAvailability() {
    readingAvailable = (readings?.heart_rate || 0) != 0;
    if (!readingAvailable) {
      clearPlot();
    }
    return readingAvailable;
  }

  oximeterReadingNumbers.subscribe((r) => {
    readings = r;
    if (r) {
      loading = false;
    }
    updateReadingAvailability();
    if (checkReadingAvailableTimeout == null) {
      checkReadingAvailableTimeout = setTimeout(() => {
        updateReadingAvailability();
        checkReadingAvailableTimeout = null;
      }, 2000);
    }
  });
  let hrResUpdater = setInterval(() => {
    if (readingAvailable && readings && activeEO) {
      beResWritable.update((res) => {
        res.set(activeEO.name, [
          ...(res.get(activeEO.name) || []),
          readings.heart_rate,
        ]);
        return res;
      });
    }
  }, 1000);
  onDestroy(() => clearInterval(hrResUpdater));

  //raw value listener
  let avg: number = null;
  oximeterRawReadings.subscribe((reading) => {
    reading.forEach((r) => {
      if (r.timestamp > lastRead && plotElemet != null) {
        if (readings?.heart_rate != 0 && r.value != 0) {
          if (avg == null) {
            avg = r.value;
          }
          avg = 0.9 * avg + 0.1 * r.value;
          // @ts-ignore
          Plotly.extendTraces(
            plotElemet,
            { y: [[r.value - avg]], x: [[r.timestamp]] },
            [0],
            300
          );
        } else {
        }
        lastRead = Date.now();
      }
    });
  });

  // plot on plot.js load
  let plotTarget: HTMLDivElement;
  const plot = async () => {
    plotTarget.innerHTML = "";
    // @ts-ignore
    plotElemet = await Plotly.newPlot(
      plotTarget,
      initPlotData,
      {
        legend: null,
        xaxis: {
          showgrid: false,
          showticklabels: false,
          showline: false,
          showdividers: false,
          zeroline: false,
          autorange: "reversed",
        },
        yaxis: {
          showgrid: false,
          showticklabels: false,
          showline: false,
          showdividers: false,
          zeroline: false,
        },
        paper_bgcolor: "rgba(0,0,0,0)",
        margin: { b: 0, r: 0, l: 0, t: 0 },
        plot_bgcolor: "rgba(0,0,0,0)",
        autosize: true,
      },
      { staticPlot: true, responsive: true }
    );
  };
  setInterval(() => {
    updatePlotRange();
  }, 20);

  function updatePlotRange() {
    if (plotElemet) {
      let now = Date.now();
      // @ts-ignore
      Plotly.relayout(plotElemet, {
        "xaxis.range": [now, now - 5000],
      });
    }
  }

  function clearPlot() {
    if (plotElemet) {
      // @ts-ignore
      Plotly.update(plotElemet, { y: [[]], x: [[]] }, {}, [0]);
    }
  }

  // timer

  const startTime = Date.now();
  let remainTimeSecs = timeSpan;

  function countDown() {
    if (remainTimeSecs > 0) {
      let now = Date.now();
      remainTimeSecs = timeSpan - Math.floor((now - startTime) / 1000);
      setTimeout(countDown, 1000 - ((now - startTime) % 1000));
    } else {
      dispatch("finished");
    }
  }
  setTimeout(countDown, 0);
</script>

<!-- svelte-ignore missing-declaration -->
<svelte:head>
  <script
    src="https://cdn.plot.ly/plotly-latest.min.js"
    type="text/javascript"
    on:load={plot}>
  </script>
</svelte:head>
<main>
  <div class="product-showcase">
    {#if activeEO}
      <img src={activeEO.imagePath} alt={activeEO.imagePath} />
      <div>{activeEO.brand || ""}</div>
      <div>{activeEO.type || ""}</div>
    {/if}
  </div>
  <div class="container" style="position: relative;">
    <div
      class="loader-container"
      style="justify-content: center; align-items: center;"
    >
      {#if loading}
        <div class="loader" style="margin: auto;" />
      {:else if !readingAvailable}
        <div style="color: grey">No oximeter data available.</div>
      {/if}
    </div>
    <div class="plot-container">
      <div class="plot-target" bind:this={plotTarget} />
    </div>
  </div>
  <div class="reading-nums">
    <div>HR: {readings?.heart_rate || "--"}</div>
    <div>SpO2: {readings?.spo2 || "--"}</div>
    <div>⏰ {remainTimeSecs}</div>
  </div>
</main>

<style>
  main {
    flex-direction: row;
    flex-grow: 0;
    background: none;
    margin: 1em;
    display: grid;
    grid-template-columns: 15% 70% 15%;
  }
  .product-showcase {
    flex-direction: column;
    gap: 0;
  }
  .product-showcase img {
    max-width: 100%;
    height: auto;
  }
  .product-showcase div {
    height: 1em;
  }

  .container {
    justify-content: center;
    align-items: center;
    flex-basis: 80%;
    grid-column: 2;
  }
  .loader-container {
    position: absolute;
  }
  .reading-nums {
    grid-column: 3;
    flex-direction: column;
    flex-basis: 20%;
  }
  .reading-nums * {
    /* white-space: nowrap; */
    flex-basis: content;
    justify-content: left;
  }
  .plot-target {
    margin: 1em;
  }
  .plot-container {
    margin: 1em;
  }
  .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    height: 120px;
    width: 120px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>
