<script lang="ts">
    import { EssentialOil, EssentialOils } from "../states/essentialOil.js";
    import { beResWritable } from "../states/beResult";
    export function canExit() {
        return true;
    }
    let eoMedHr: Map<string, number> = new Map();

    let beRes = $beResWritable;
    beRes.forEach((hrs, eoName) => {
        if (hrs.length > 0) {
            hrs.sort();
            if (hrs.length % 2 === 0) {
                eoMedHr.set(
                    eoName,
                    (hrs[hrs.length / 2] + hrs[hrs.length / 2 - 1]) / 2
                );
            } else {
                eoMedHr.set(eoName, hrs[Math.floor(hrs.length / 2)]);
            }
        }
    });
    let rankedEo = EssentialOils.filter((eo) => eo.name != "Control").map(
        (eo) => {
            return {
                medHr: eoMedHr.get(eo.name) || Infinity,
                eo: eo,
            };
        }
    );
    rankedEo.sort((a, b) => a.medHr - b.medHr);
    let controlRes = EssentialOils.filter((eo) => eo.name == "Control").map(
        (eo) => {
            return {
                medHr: eoMedHr.get(eo.name) || Infinity,
                eo: eo,
            };
        }
    );

    rankedEo.unshift(...controlRes);
</script>

<main>
    <h1>Recommended Essential Oils</h1>
    {#each rankedEo as eo, i}
        <div class="recommendation card">
            <div class="eo-img">
                {#if eo.eo.imagePath != null}
                    <img src={eo.eo.imagePath} alt={eo.eo.imagePath} />
                {/if}
            </div>
            <div class="eo-detail">
                <div>
                    {isFinite(eo.medHr) && i + 1 - controlRes.length > 0
                        ? "Rank: " + (i + 1 - controlRes.length)
                        : ""}
                </div>
                <div>{eo.eo.brand || ""}</div>
                <div>{eo.eo.type || ""}</div>
                {#if eo.eo.url != null}
                    <a target="_blank" href={eo.eo.url}>purchase</a>
                {/if}
                <div>{isFinite(eo.medHr) ? "HR: " + eo.medHr : ""}</div>
            </div>
        </div>
    {/each}
</main>

<style>
    main {
        flex-direction: column;
        margin: 1em;
    }
    .recommendation {
        background-color: white;
        height: 10em;
    }
    .eo-detail {
        align-items: flex-start;
        flex-direction: column;
    }
    .eo-detail * {
        text-align: left;
        height: 1em;
        flex-grow: 0;
        justify-content: left;
    }
    .eo-img img {
        height: 10em;
        width: 10em;
        object-fit: cover;
    }
</style>
