<script lang="ts">
    import { EOBrands, EOTypes, TProp } from "../../states/essentialOil";
    export function canExit() {
        return true;
    }
    import { eoPreferences } from "../../states/oximeter.js";
    import MultiSelect from "../MultiSelect.svelte";
</script>

<main>
    <form class="questionnaire" on:submit|preventDefault={() => {}}>
        <h3>Essential Oil Preferences</h3>
        <div class="input-container">
            <label for="eo-type-input">Essential Oil Types:</label>
            <MultiSelect optionVals={EOTypes} bind:value={$eoPreferences.eo} />
        </div>
        <div class="input-container">
            <label for="min-price">Price range:</label>
            <div>
                <input
                    id="min-price"
                    type="number"
                    min="0"
                    max="1000"
                    on:input={(e) => {}}
                />
                to
                <input
                    id="max-price"
                    type="number"
                    min="0"
                    max="1000"
                    on:input={(e) => {}}
                />
            </div>
        </div>
        <div class="input-container">
            <label for="t-prop-input">Therapeutic Properties:</label>
            <MultiSelect
                optionVals={TProp}
                id="t-prop-input"
                bind:value={$eoPreferences.tProp}
            />
        </div>
        <div class="input-container">
            <label for="eo-brand-input">Essential Oil Brands:</label>
            <MultiSelect
                optionVals={EOBrands}
                id="eo-brand-input"
                bind:value={$eoPreferences.eoBrands}
            />
        </div>
    </form>
</main>

<!-- 1. Price range 
2. EO type/preference 
3. Which therapeutic properties 
4. Which particular brand of EO, local or international? 
5. Bended or 100% pure EO -->
<style>
    :global(.multiselect) {
        margin: 0;
    }
</style>
