<script lang="ts">
    import "./style.css";
    const genders = ["Male", "Female"];
    let gender = genders[0];
    let inputAge = 18;
    let job = "";

    export function canExit() {
        return true;
    }
</script>

<main>
    <form class="questionnaire">
        <h3>Basic Info</h3>
        <div class="input-container">
            <label for="age-input">Age:</label>
            <input
                id="age-input"
                type="number"
                min="0"
                max="120"
                on:input={(e) => {
                    let v = Number(e.currentTarget.value);
                    if (
                        !isNaN(v) &&
                        v <= Number(e.currentTarget.max) &&
                        v >= Number(e.currentTarget.min)
                    ) {
                        inputAge = v;
                    } else {
                        e.currentTarget.value = inputAge.toString();
                    }
                }}
                bind:value={inputAge}
            />
        </div>
        <div class="input-container">
            <p>Gender:</p>
            <div class="radio-items-container">
                {#each genders as g}
                    <div
                        class="radio-item"
                        style="display: flex; flex-direction:row;"
                    >
                        <input
                            id={g + "_input"}
                            type="radio"
                            bind:group={gender}
                            name="gender"
                            value={g}
                        />
                        <label for={g + "_input"}>{g}</label>
                    </div>
                {/each}
            </div>
        </div>

        <div class="input-container">
            <label for="job-input">Occupation:</label>
            <input id="job-input" type="text" maxlength="50" bind:value={job} />
        </div>
    </form>
</main>

<style>
</style>
